@font-face {
    font-family: 'Gilroy-black';
    src: url('assets/font-gilroy/Gilroy-Black.ttf');
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('assets/font-gilroy/Gilroy-Medium.ttf');
}    


@font-face {
    font-family: 'Poppins-light';
    src: url('assets/font-poppin/Poppins-Light.ttf');
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #c9d6ff;
    background:linear-gradient(to right,#e2e2e2,#c9d6ff);
}
.main-heading{
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 40p;
    margin-top: 20px;
    font-family: 'Gilroy-black';
}
.userProfile{
    background:#fff;
    width:450px;
    padding:1.5rem;
    margin:50px auto;
    border-radius:10px;
    box-shadow:0 20px 35px rgba(0,0,1,0.9);
}


.userInfo{
    font-size: 25px;
    font-family: 'Poppins-light';
    font-weight: 300;
    margin: 10px;
} 

/* button{
    color: blueviolet;
    background-color: #c9d6ff;
    padding: 8px;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    font-weight: bold;
} */

/* button:hover{
    text-decoration: underline;
    color: blue;
} */

span{
     font-family: 'Poppins-light';
     font-weight: 300;
     font-size: 25px;
     color: black;
}

.addPost{
    background: #3448c5;
    color: white;
    border-radius: 32px;
     font-family: 'Gilroy-Medium';
    font-size: 1.5rem;
    line-height: 1.625rem;
    color: white;
    font-weight: 600;
    padding: 12px 12px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
     cursor: pointer;
  
}

.addPost a{
     color: white;
     text-decoration: none;
     text-align: center;
    

}
.logOut{
    background: #3448c5;
    color: white;
    border-radius: 32px;
     font-family: 'Gilroy-Medium';
    font-size: 1.5rem;
    line-height: 1.625rem;
    color: white;
    font-weight: 600;
    padding: 12px 12px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
     cursor: pointer;

}
.logOut a{
     color: white;
     text-decoration: none;
     text-align: center;

}
